USE [master]
GO
/****** Object:  Database [CAR_SELLING]    Script Date: 06/01/2024 9:20:52 pm ******/
CREATE DATABASE [CAR_SELLING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAR_SELLING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_SELLING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAR_SELLING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_SELLING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAR_SELLING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAR_SELLING]
GO
/****** Object:  Table [dbo].[CarListing]    Script Date: 06/01/2024 9:20:52 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarListing](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [varchar](255) NOT NULL,
	[Model] [varchar](255) NOT NULL,
	[CarYear] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Mileage] [int] NOT NULL,
	[CarDescription] [varchar](255) NOT NULL,
	[ImageUrl] [varchar](255) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_INFO]    Script Date: 06/01/2024 9:20:52 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_INFO](
	[USER_IDN] [int] IDENTITY(1,1) NOT NULL,
	[USER_EMAIL] [varchar](50) NOT NULL,
	[USER_FNAME] [varchar](50) NOT NULL,
	[USER_LNAME] [varchar](50) NOT NULL,
	[USER_PASSWORD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_IDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarListing] ON 

INSERT [dbo].[CarListing] ([CarID], [Make], [Model], [CarYear], [Color], [Price], [Mileage], [CarDescription], [ImageUrl], [OwnerID], [CreatedAt]) VALUES (2, N'Toyota', N'Trueno AE86', 1986, N'White', CAST(750000.00 AS Decimal(10, 2)), 80000, N'Classic Toyota Trueno AE86 in excellent condition. Vintage model with low mileage and well-maintained. Great for enthusiasts and collectors.', N'../Images/Toyota_Corolla_GT_AE86_Trueno_hatchback245539130.jpg', 1, CAST(N'2024-01-05T23:44:48.510' AS DateTime))
INSERT [dbo].[CarListing] ([CarID], [Make], [Model], [CarYear], [Color], [Price], [Mileage], [CarDescription], [ImageUrl], [OwnerID], [CreatedAt]) VALUES (1002, N'DeLorean', N'DMC-12', 1982, N'Stainless Steel', CAST(2500000.00 AS Decimal(10, 2)), 3000, N'Iconic time-traveling car, BACK TO THE FUTURE CAR!!!!', N'../Images/delorean_dmc-12241710128.png', 5, CAST(N'2024-01-06T00:17:48.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarListing] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_INFO] ON 

INSERT [dbo].[USER_INFO] ([USER_IDN], [USER_EMAIL], [USER_FNAME], [USER_LNAME], [USER_PASSWORD]) VALUES (1, N'edrian@t.c', N'Edrian', N'Maslow', N'123')
INSERT [dbo].[USER_INFO] ([USER_IDN], [USER_EMAIL], [USER_FNAME], [USER_LNAME], [USER_PASSWORD]) VALUES (4, N'dave@t.c', N'Dave', N'Tinoyskie', N'123')
INSERT [dbo].[USER_INFO] ([USER_IDN], [USER_EMAIL], [USER_FNAME], [USER_LNAME], [USER_PASSWORD]) VALUES (5, N'kurt@t.c', N'Kurt', N'Desmond', N'123')
SET IDENTITY_INSERT [dbo].[USER_INFO] OFF
GO
ALTER TABLE [dbo].[CarListing] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD FOREIGN KEY([OwnerID])
REFERENCES [dbo].[USER_INFO] ([USER_IDN])
GO
USE [master]
GO
