@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <div class="container">
        <div class="card col-md-8 mx-auto">
            <div class="card-body p-5">
                <div class="row mb-3">
                    <h5 class="display-5">Welcome to Wheels on Deals: Your Ultimate Destination for Exceptional Cars</h5>
                    <p>At Wheels on Deals, we live and breathe cars, and we're thrilled to share our passion with you. As the driving force behind your automotive journey, we've crafted an online haven where the finest used and new cars converge, offering you a seamless experience in finding your perfect ride.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Our Driving Philosophy</h5>
                    <p>More than just a marketplace, Wheels on Deals is the embodiment of our commitment to quality, transparency, and outstanding service. We understand that buying or selling a car is a significant decision, and we're here to make the process both exciting and straightforward for you.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Your Road, Your Choice</h5>
                    <p>Embark on a journey through our user-friendly platform, where detailed listings and comprehensive information empower you to make informed decisions with confidence. Our dedication to transparency ensures that every vehicle on Wheels on Deals meets the highest standards, allowing you to choose your next car with peace of mind.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Explore Excellence</h5>
                    <p>Our inventory is a curated collection of automotive excellence, ranging from sleek sedans to rugged off-road vehicles, eco-friendly hybrids to powerful sports cars. Each listing is meticulously selected by our team of experts, ensuring that only the best vehicles find a place on our platform.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Community of Enthusiasts</h5>
                    <p>Wheels on Deals is more than a marketplace; it's a community of passionate individuals who share a love for cars. Join the conversation, share your experiences, and connect with fellow enthusiasts. Here, your journey isn't just about the destination – it's about the joy of driving.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Innovation in Motion</h5>
                    <p>As the automotive landscape evolves, Wheels on Deals stays at the forefront, embracing cutting-edge technology and a customer-centric approach. We're committed to making your experience with us as seamless and enjoyable as your time on the road.</p>
                </div>
                <div class="row mb-3">
                    <h5 class="display-5">Your Story Begins Here</h5>
                    <p>Whether you're searching for your dream car or looking to find a new home for a cherished vehicle, Wheels on Deals is your trusted companion every step of the way. Join us on this exhilarating ride, where every car has a story, and yours is waiting to be written.</p>
                </div>
                <div class="row mb-3 text-center">
                    <h3>Welcome to Wheels on Deals – Your Journey Starts Now.</h3>
                </div>
            </div>
        </div>
    </div>
</main>