@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <div class="container">
        <div class="card col-md-8 mx-auto">
            <div class="card-body p-5">
                <h3 class="card-title display-3">Contact</h3>
                <address class="mt-3">
                    University of Cebu - Main Campus <br />
                    Sanciangko St., Cebu City <br />
                    <abbr title="Phone">P: 12345678910</abbr>
                </address>
                <address><strong>Support:</strong> <a href="mailto:WheelSupport@wod.com">WheelSupport@wod.com</a><br> <strong>Marketing:</strong> <a href="mailto:DealsMarketing@wod.com">DealsMarketing@wod.com</a></address>
            </div>
        </div>
    </div>
</main>